



/*hero section*/

.hero {
    width: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
    position: fixed;
    background-color: #00000011;
}

.hero-spacer {
    min-height: 100vh;
    background-color: #00000011;
    background-image: linear-gradient(
      90deg,
      #2E151Bdd 25%,
      rgba(0, 0, 0, 0)
    );
  
}

.hero video {
    width: 100%;
    min-height: 100vh;
    object-fit: cover;
    filter: brightness(70%);
}

.div_slider_hero{
    width:95vw;
    height:25vh;
}

.slide{
    height:20vh;
    padding-right:45vw;
    display:flex;
    align-items: center;
}

.slide p{
    color:white;
    font-size:1.1rem;
    font-weight:500;
    margin-bottom:15px;
    margin-left:30px;
}

.slide  Button:first-of-type{
    padding:8px 15px;
    border-radius:5px;
    margin:8px 30px;
    background:linear-gradient(45deg,#1B3333ee,#2F4455,#376F70ee);
}

.slide a{
    color:white;
    text-decoration:none;   
}

.slide Button:hover a{
    color:#fde288;
 
}

.slide .icon{
vertical-align: sub;
font-size:1,2rem;
}

.slick-dots button:before {
    color:White !important;
}


.slick-dots li.slick-active button:before {
    color:#B3D8DE !important;
}

.overlay {
    width: 50%;
    min-height: 100vh;
    top: 0;
  padding-top:10vh;
  padding-left: 2vw;
  position: absolute;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
}

.overlay img{
    z-index:1;
    height:55vh;
    margin-top:5vh;
    margin-bottom:3vh;
    position:relative;

}


.scale-in-center {
	-webkit-animation: scale-in-center 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s both;
	        animation: scale-in-center 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s both;
}

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }

  .fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
  }

  /**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  





/*text content sections*/



.home_sections {
    width: 100%;
    min-height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    position: relative;
    --bg-img: url('../../assets/images/logo.png');
    background: var(--bg-img) ;
    background-blend-mode:multiply;
    background-size:cover;
    background-repeat: repeat;
}

.section_full{
    padding:0px;
    position: relative;
    --bg-img: url('../../assets/images/logo.png');
    background: var(--bg-img) ;
    background-blend-mode:multiply;
    background-size:cover;
    background-repeat: repeat;
}


.first{
    background:#f0f0f0;
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
}

.first::before {    
    content: "";
    background-image: var(--bg-img) ;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.04;
    background-attachment:fixed;
}

.first_content{
    color:black;
    font-weight:600;
    padding-top:30px;
    padding-bottom:40px;
}

.first_content .gaiaswap_hl{
    font-weight:1000;
    color:#761c2f;
}

#techswap_logo{
    width:400px;
    margin-left:5%;
    margin-right:5%;
    width:40%;

}

#blockchain_logo{
    margin-left:10%;
    margin-right:10%;
    width:30%;
}

.first_content p{
    font-size: 1.3rem; 
}


#ancre{
    position:absolute; top:-125px;
}

.home_sections_text_Content, .content {
    width: 100%;
    margin: auto;
}

.content{
    color:white;
}

.home_sections_text_Content h1, .title {
    font-size: 3rem;
    color:#376E6F;
    text-transform: capitalize;
    font-family: "Bebas Neue", cursive;
    letter-spacing: 2px;
    margin-bottom: 45px;
    position: relative;
    top: 25%
}

#panel1bh-header{
 --ml: 100px;
 padding-left: var(--ml);
 border-top:5px solid #376F70  ;
}

.title{
    color:#C1F6EC;
}

.title:hover{
    color:#2FAF7E;
}

#typo{
height:120px;
}

.home_sections_text_Content h5 {
    padding: 12px 0;
    font-size: 1.3rem;
}

.home_sections .main_text {
    margin-top: 22px;
    font-size: 1.1rem;
}

.home_sections .main_text, .main_text {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
    width:50%;
    font-size: 1.1rem;
}

.first_content .main_text{
    width:85%;
}

.tech_intro_1{
    font-weight: bold;
    font-size:1.5rem;
    text-align: center;
    
}

.first_row{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    vertical-align: center;
    text-align:left;
}

.first_content h1{
    position:relative;
    margin-bottom:20px;
}

.home_sections_text_divide{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.home_sections_text_divide img{
    width:35vw;
    height: 100%;
    margin-right:20px;
    border-radius: 10px;

}






/*accordion sections*/

.css-15v22id-MuiAccordionDetails-root{
    padding:none
}

.section_sub{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    width:100%;
    background:linear-gradient(45deg,#1b3333dd,#2F4455dd ,#387071dd);;
    padding:30px;
    padding-Left:5%;
    padding-right:5%;
    font-weight: 500;
    line-height: 1.6rem;;

}

.section_img{
    width:40%;
    height:100%;
    margin:20px;
    border-radius:10px;
    box-shadow: 7px 11px 21px -2px rgba(0,0,0,0.73);
-webkit-box-shadow: 7px 11px 21px -2px rgba(0,0,0,0.73);
-moz-box-shadow: 7px 11px 21px -2px rgba(0,0,0,0.73);
max-width:400px;
}

.section3{
    flex-direction:column-reverse
}

.section3 .main_text{
    width:80%;
}

.section3 img{
    width:60%;
}







/*partners section*/

.section4{
    flex-direction: row-reverse;
}


.partners{
    background:linear-gradient(#2E151B,#894453) ;
    color:#C1F6EC;
    font-size: 2rem;
    padding-bottom: 50px;
    border-top:solid 10px #376F70;
    width:100vw;
  }

  .partners h5{
    padding:30px;
    text-align: center;
    font-family: "Bebas Neue", cursive;
    font-size:40px;
  }
  .slider {
    background:white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width:100vw;
  }
  .slider::before, .slider::after {
    background: linear-gradient(90deg,white,rgba(0, 0, 0, 0));
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .slider::before {
    left: 0;
    top: 0;
  }
  .slider .slide-track {
    animation: scroll 10s linear infinite;
    display:flex;
  }
  .slider .slide {
    height: 100px;
    flex:1;
    margin-left:200px;

  }

  .slider .slide img{
  padding:5px 40px;
  margin: auto 50px
  }


  @keyframes scroll {
    0% {
      transform: translateX(-10vw);
    }
    50% {
      transform: translateX(calc(10vw));
    }
    100% {
        transform: translateX(-10vw);
      } 
  }








  /*responsive*/




@media screen and (max-width: 900px) {

    .hero-spacer {
        background-color: #0000007a;
        background-image: none;
    }
    .overlay {
        width: 100%;
        margin:auto;
        align-items: center;
        padding-top:0vh;
        padding-left:0vh;
    }

    .overlay img{
        max-width:90%;
        height:35vh;
        margin-bottom:2vh;
    }


    .slide p{
        font-size:0.85rem;
        margin:20px 20px;
    }
    
    .slide Button{
        padding:5px 10px;
        margin:5px 5px;
        margin-bottom:none;
    }


    .home_sections_text_Content h1 {
        font-size: 2.4rem;
        margin-bottom: 15px;
    }
    .home_sections_text_Content h5 {
        font-size: 1rem;
    }
    .home_sections .main_text, .main_text {
        margin-top: 16px;
        font-size: 1rem;
    width:100%;
    }

    .home_sections_text_divide{
        flex-direction: column;
    }

    .home_sections_text_Content h1, .title {
        font-size: 2.2rem;
        padding-left:20px;
    }

    #panel1bh-header{
        padding-left:20px;
        margin:auto;
       }

    #typo{
        margin:auto;
        height:70px;
    }

    .section_sub{
        width:100%;
        margin-bottom:0px;
        padding:none;
        flex-direction: column;
    }

    .first_row{
        flex-direction: column;
    }

    .first_column{
        flex-direction: column-reverse;
    }

    .first_row img{
        margin-bottom:40px;
    }

    #blockchain_logo, #gaiaswap_logo{
        width:50vw;
    }
    .section_sub img{
        display:none;
    }

.section3 .main_text{
    width:100%
}

.MuiAccordionDetails-root .css-sw3dkr-MuiAccordionDetails-root{
    padding:none
}

.partners h5{
    font-size:2rem;
}
.slide{
    height:30vh;
    padding-right:2vw;
    padding-left:3vw;
}

}

