.w_container>h1 {
    font-size: 4rem;
}

main{
    padding-top:0px;
    width:100%;
}



/*team section*/

.team_wrap {
    margin: 70px auto;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

section{
    position:relative;
}
section::before { 
    z-index:-1; 
    content: "";
    background: #f0f0f0;
    background-size: cover;
    background-repeat:repeat-x;
    background-blend-mode:multiply;
    position: absolute;
    top: 00px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.07;
    background-attachment:fixed;
}


.section_title{
    color:#C1F6EC;
     position:relative;
     top:20px
}

.cs_container2{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-evenly;
    padding:0% 1%;
}




/*partners section (extra to slickers css*/


.partners {
    width: 100%;
    background: linear-gradient(45deg,#1b3333ee,#2F4455 ,#387071ee);
}


.text_partners{
    font-size:1.2rem;
    width:30vw;
    margin:10px;
    margin-top:30px;
    padding-right:20px;
    position:relative;
   
}

.text_partners:after{
    content:'';
    height:90%;
    width:1px;
    position: absolute;
    right: 0;
    top:7%;
    border-right:5px solid #C1F6EC;

}

.partner_card {
    padding: 12px 6px;
}




/*responsive*/


@media screen and (max-width: 967px) {

    .team_wrap {
        margin: 45px auto;
        padding: 16px 0;
        justify-content: center;
        flex-wrap: wrap;
    }
 
    .partners_wrap {
        margin: 130px auto 30px auto;
    }
    .partner_card {
        padding: 12px 6px;
        max-width: 50%;
    }
}