.footer {
    width: 100%;
    background-color: var(--white);
    margin-top: auto;
    box-shadow: 0 -4px 15px #0000001a;
    border-top: 1px solid rgba(128, 128, 128, 0.205);
}

.footer_top {
    border-bottom: 1px solid rgba(128, 128, 128, 0.397);
}

.footer_row {
    padding: 45px 0;
}

.footer_left {
    width: 35%;
}

.footer_left img {
    width: 200px;
}

.footer_nav_col {
    width: 35%;
    margin-left: auto;
}

.footer_nav_col ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.footer_nav_col ul li {
    width: 50%;
}

.footer_nav_col ul li a {
    padding: 2px 0;
    text-decoration: none;
    display: block;
    margin: 1px 0;
    color: var(--dark);
    font-weight: 600;
}

.footer_nav_col ul li a:hover {
    color: var(--primary);
}

.footer_nav_col h4 {
    position: relative;
    margin-bottom: 12px;
    text-transform: capitalize;
}

.footer_nav_col h4::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 45px;
    height: 3px;
    background-color: var(--primary);
    content: "";
    border-radius: 50px;
}

.footer_icons {
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 6px;
}

.footer_icons img {
    max-width: 100%;
    width: 33px;
    height: 33px;
}

@media screen and (max-width: 767px) {
    .footer_row {
        flex-wrap: wrap;
    }
    .footer_left {
        width: 100%;
        text-align: center;
    }
    .footer_left img {
        width: 100%;
        max-width: 160px;
        margin: 0 auto;
    }
    .footer_nav_col {
        width: 100%;
        margin: 12px auto 0 auto;
    }
    .footer_nav_col ul {
        justify-content: center;
        margin: 0 auto;
    }
    .footer_nav_col ul li {
        text-align: center;
        width: 50%;
    }
    .footer_nav_col h4 {
        text-align: center;
        width: max-content;
        margin: 12px auto;
    }
}